#set($JavaServiceName = "I" + ${package.ModuleName} + "Service")
package com.kuo.storyboard.service;

import com.kuo.storyboard.entity.${package.ModuleName};
import ${superServiceClassPackage};

/**
 * @author ${author}
 * @date ${cfg.dateTime}
 * @describe $!{table.comment}Service类
 */
public interface ${JavaServiceName} extends ${superServiceClass}<${package.ModuleName}> {

}
