<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.storyboard.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.kuo.storyboard.entity.Organization">
        <id column="sys_organization_id" property="sysOrganizationId" />
        <result column="parent_organization_id" property="parentOrganizationId" />
        <result column="organization_name" property="organizationName" />
        <result column="sort" property="sort" />
        <result column="disabled" property="disabled" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="created_on" property="createdOn" />
        <result column="updated_on" property="updatedOn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_organization_id, parent_organization_id, organization_name, sort, disabled, created_by, updated_by, created_on, updated_on
    </sql>

</mapper>